/* main04 TODO */
#main04 {
    width: 768px;
    height: 500px;
    margin-top: 0px;
}
.main04_inner {
    position: relative;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    height: 400px;
}
.main04_inner .todo_title {
    position: absolute;
    width: 200px;
    height: 500px;
    margin-left: 40px;
    text-align: center;
    background-image: url(./img/todo_title.png);
    background-repeat: no-repeat;
    background-size: 25%;
    text-indent: -999px;
    
}
/* tab menu */
/* .tab_box{
    display: none;
} */
.tab_box{
    position: absolute;
    top: 32px;
    left: 147px;
}
.tab_box .tabs_nav {
    min-width: 320px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: #999;
}
.tab_box .tabs_nav li {
    /* position: relative; */
    text-align: left;
    width: 100%;
    /* margin: 30px; */
    height: 80px;
    float: inherit;
    font-size: 26px;
    background-color: orange;
}
.tab_box .tabs_nav li:hover{
    background-color: beige;
}
.tab_box .tabs_nav a {
    position: relative;
    padding: 0;
}
.tab_box .tabs_nav li a.active {
    /* border-bottom: 1px solid #000; */
    font-size: 40px;
    background-color: #fff;
    color: #000;
}

.tab_box .tabs_nav li a.active::after {
    position: relative;
    margin-left: 0px;
    content: '';
    display: block;
    width: 100%;
    top: 5px;
    height: 1px;
    background-color: #000;
}
.tab_box .tabs_nav li a.active::before {
    position: absolute;
    content: '';
    bottom: 20px;
    margin-left: -30px;
    border-bottom: 10px solid #4b4b4b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: rotate(90deg);
}
.tab_box .tabs_nav li:nth-child(3) a.active::before {
    position: absolute;
    content: '';
    bottom: 5px;
    margin-left: 16px;
    border-bottom: 10px solid #4b4b4b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: rotate(180deg);
}
.tab_body {
    position: absolute;
    right: 40px;
    width: 350px;
    height: 330px;
}
.tab_body .tab_img {
    height: 100%;
    width: 100%;
    min-width: 320px;
    overflow: hidden;
}
.tab_body .tab_img img {
    position: absolute;
    min-width: 320px;
    width: 100%;
    height: 90%;
}
.tab_body .content {
    position: absolute;
    color: #fff;
}
.tab_body .content > .content_inner {
    padding: 15px;
    position: absolute;
    top: 177px;
    height: 90px;
    width: 100%;
    min-width: 320px;
    /* width: 820px; */
    font-size: 10px;
    letter-spacing: -0.5px;
    background-color: rgb(3, 3, 3, 0.5);
}
.content_inner .title {
    margin-left: 20px;
    font-size: 26px;
    margin-bottom: 5px;
    font-weight: 400;
}
.content_inner .hash_tag {
    margin-left: 20px;
    width: 265px;
    font-size: 16px;
}